name: Python Pipeline CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: birhanu
          POSTGRES_PASSWORD: 7121
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Explicitly install the postgres driver first
          pip install psycopg2-binary
          # Install everything else
          pip install pytest pytest-asyncio pandas sqlalchemy telethon \
                      ultralytics pydantic-settings shap joblib matplotlib
                      
      - name: Run Tests
        env:
          # This tells your scripts to use the GitHub service DB
          DATABASE_URL: postgresql://birhanu:7121@localhost:5432/postgres
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest medical_warehouse/tests/